body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo,
.links {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 20px;
}

.hero-section {
    display: flex;
    padding: 75px;
    background-color: #1F2937;
    justify-content: center;
}

.hero-text {
    padding: 20px;
    width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.hero-text button {
    margin-top: 15px;
}

.hero-section img {
    height: auto;
    width: 400px;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.information-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.information-section img {
    border-radius: 5px;
    border: 2px solid #3882F6;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;

}

.info-box img {
    height: 200px;
    width: 200px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    background-color: #E5E7EB;

    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote {
    width: 600px;
}

.quote-attr {
    align-items: flex-end;
    font-weight: bold;
    font-size: 25px;
}

.sign-up-section {
    display: flex;
    justify-content: center;
}

.sign-up-box {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    align-items: center;
    margin: 75px;
    padding: 45px;
    gap: 40px;
    border-radius: 10px;
    width: 65%;
}

.sign-up-box h1,
p {
    margin: 0;
    padding: 0;
}

.sign-up-box p {
    color: #E5E7EB;
}

.sign-up-section button {
    border: 2px solid white;

}

.sign-up-info {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer {
    display: flex;
    padding: 15px;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}

.copyright {
    padding: 15px;
}

button {
    border-radius: 4px;
    background-color: #3882F6;
    color: white;
    padding: 10px 25px;
    font-size: large;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}